In [1]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from collections import Counter
from nltk.corpus import stopwords
stop_words=set(stopwords.words('english'))
lemm = WordNetLemmatizer()
import numpy as np
from collections import Counter
lines=100000
from nltk.corpus import stopwords
stop = set(stopwords.words('english'))

In [2]:
data = pd.read_excel(r"C:\Users\PIYUSH\Downloads\AG\training_set_rel3.xlsx",sheet_name="training_set")
data_val = pd.read_excel(r"C:\Users\PIYUSH\Downloads\AG\valid_set.xlsx",sheet_name="valid_set")

In [3]:
data.head()

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
0,1,1,"Dear local newspaper, I think effects computer...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4.0,3.0,NaN,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5.0,5.0,NaN,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,"Dear @LOCATION1, I know having computers has a...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data_val.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,NaN
1,1789,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,NaN
2,1790,1,"Dear Local newspaper, Have you been spending a...",1790,NaN
3,1791,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,NaN
4,1792,1,"Dear newspaper, I strongly believe that comput...",1792,NaN

In [6]:
def word(data):
    lexicon=[]
    for i in data["essay"]:
        all_words=word_tokenize(i)
        #all_words=[i for i in all_words if i not in stop]
        all_words=[lemm.lemmatize(j.lower()) for j in all_words]
        lexicon.append(len(all_words))
    return lexicon

In [7]:
ls=word(data)
data["word_count"]=ls
ls=word(data_val)
data_val["word_count"]=ls

In [18]:
data_val.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid,word_count
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,NaN,275
1,1789,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,NaN,353
2,1790,1,"Dear Local newspaper, Have you been spending a...",1790,NaN,471
3,1791,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,NaN,410
4,1792,1,"Dear newspaper, I strongly believe that comput...",1792,NaN,496

In [19]:
def vocab(data):
    lexicon=[]
    ls=[]
    for i in data["essay"]:
        all_words=word_tokenize(i)
        all_words=[i for i in all_words if i not in stop]
        all_words=[word.lower() for word in all_words if word.isalpha()]
        all_words=[lemm.lemmatize(j.lower()) for j in all_words]
        lexicon.append(all_words)
    for i in range(data.shape[0]):
        ls.append(len(set(lexicon[i])))
    return ls

In [20]:
ls=vocab(data)
data["vocab_count"]=ls
ls=vocab(data_val)
data_val["vocab_count"]=ls

In [21]:
data.head()

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6,word_count,vocab_count
0,1,1,"Dear local newspaper, I think effects computer...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,386,103
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,464,129
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4.0,3.0,NaN,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,313,92
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5.0,5.0,NaN,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,611,169
4,5,1,"Dear @LOCATION1, I know having computers has a...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,517,131

In [22]:
def pos(data):
    lexicon=[]
    noun=0
    verb=0
    adj=0
    adv=0
    n_count=[]
    v_count=[]
    adj_count=[]
    adv_count=[]
    for i in data["essay"]:
        tokenized = sent_tokenize(i)
        for j in tokenized:
            all_words=word_tokenize(j)
            all_words=[k for k in all_words if k not in stop]
            tagged = nltk.pos_tag(all_words)
            for t in tagged:

                if (t[1][0])=='N':
                    noun+=1
                if (t[1][0])=='V':
                    verb+=1
                if (t[1][0])=='R':
                    adv+=1
                if (t[1][0])=='J':
                    adj+=1
        n_count.append(noun)
        v_count.append(verb)
        adj_count.append(adj)
        adv_count.append(adv)
        noun=0
        verb=0
        adv=0
        adj=0
    return  (n_count, v_count, adj_count, adv_count)

In [23]:
data['n_count'], data['v_count'], data['adj_count'], data['adv_count']=pos(data)

In [25]:
data_val['n_count'], data_val['v_count'], data_val['adj_count'], data_val['adv_count']=pos(data_val)

In [27]:
data_val.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid,word_count,vocab_count,n_count,v_count,adj_count,adv_count
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,NaN,275,77,67,29,21,15
1,1789,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,NaN,353,95,75,35,15,21
2,1790,1,"Dear Local newspaper, Have you been spending a...",1790,NaN,471,137,91,51,29,26
3,1791,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,NaN,410,103,103,49,21,17
4,1792,1,"Dear newspaper, I strongly believe that comput...",1792,NaN,496,132,122,39,38,22

In [30]:
def sent_len(data):
    sent=[]
    for i in data["essay"]:
        tokenized = sent_tokenize(i)
        sent.append(len(tokenized))
    return sent

In [31]:
data["sent_len"]=sent_len(data)
data_val["sent_len"]=sent_len(data_val)

In [32]:
def bow(data):
    lexicon=[]
    dict1={}
    prev=1
    for i in range(1,9):
        dict1[i]=["student"]
    for i,j in enumerate(data["essay_set"]):
        tokenized=sent_tokenize(data["essay"].iloc[i])
        for k in tokenized:
            all_words=word_tokenize(k)
            all_words=[i for i in all_words if i not in stop]
            tagged = nltk.pos_tag(all_words)
            all_words=[i[0] for i in tagged if (i[1][0]=="N" or i[1][0]=="V"  or i[1][0]=="J")]
            all_words=[lemm.lemmatize(j.lower()) for j in all_words]
            dict1[j]+=all_words
    return dict1

In [33]:
dict1=bow(data)
dict2=bow(data_val)
def poping(w_counts):
    w_counts.pop('@',None)
    w_counts.pop('CAPS1',None)
    w_counts.pop('CAPS2',None)
    w_counts.pop('CAPS3',None)
    w_counts.pop('CAPS4',None)
    w_counts.pop('CAPS5',None)
    w_counts.pop('NUM1',None)
    w_counts.pop('”',None)
    w_counts.pop('“',None)
    w_counts.pop('’',None)
    w_counts.pop('caps1',None)
    w_counts.pop('caps2',None)
    w_counts.pop('caps3',None)
    w_counts.pop('caps4',None)
    w_counts.pop('caps5',None)
    w_counts.pop('person1',None)

In [57]:
def freek(dict):
    res={}
    for l in range(1,9):
        w_counts = Counter(dict[l])
        poping(w_counts)
        ls=[]
        l2=[]
        l3=[]
        key=[]
        c=0
        for i in w_counts:
            l2.append(w_counts[i])
        l2.sort(reverse=True)
        l3=l2[0:10]
        for name, age in w_counts.items():    # for name, age in dictionary.iteritems():  (for Python 2.x)
            if age in l3:
                key.append(name)
        res[l]=key 
    return res

In [58]:
ls1=freek(dict1)
ls2=freek(dict2)

In [59]:
def freek_make(res,data):
    b=1
    flag=1
    count=0
    ls=[]
    for i in range(data.shape[0]):
        count=0
        b=data["essay_set"].iloc[i]
        all_words=word_tokenize(data["essay"].iloc[i])
        all_words=[i for i in all_words if i not in stop]
        all_words=[word.lower() for word in all_words if word.isalpha()]
        all_words=[lemm.lemmatize(j.lower()) for j in all_words]
       # print(all_words)
        for word in all_words:
            if word in res[b]:
                count+=1
        ls.append(count)
    return ls

In [60]:
ls1=freek_make(ls1,data)
ls2=freek_make(ls2,data_val)

In [64]:
data["freek"]=ls1
data_val["freek"]=ls2

In [74]:
from nltk.corpus import wordnet
def spell_check(data):
    ls=[]
    sp=[]
    c=0
    for i in data["essay"]:
        all_words=word_tokenize(i)
        all_words=[word.lower() for word in all_words if word.isalpha()]
        all_words=[i for i in all_words if i not in stop]
        all_words=[lemm.lemmatize(j.lower()) for j in all_words]
        for word in all_words:
            if(not(wordnet.synsets(word))):
                c+=1
        l=len(all_words)
        corr_perc=(c/l)*100
        sp.append(corr_perc)
        c=0
    return sp

In [77]:
data["wrong_spell"]=spell_check(data)
data_val["wrong_spell"]=spell_check(data_val)

In [80]:
data_val.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid,word_count,vocab_count,n_count,v_count,adj_count,adv_count,sent_len,freek,wrong_spell
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,NaN,275,77,67,29,21,15,13,26,8.771930
1,1789,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,NaN,353,95,75,35,15,21,20,33,1.526718
2,1790,1,"Dear Local newspaper, Have you been spending a...",1790,NaN,471,137,91,51,29,26,15,35,13.170732
3,1791,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,NaN,410,103,103,49,21,17,24,31,4.733728
4,1792,1,"Dear newspaper, I strongly believe that comput...",1792,NaN,496,132,122,39,38,22,34,47,4.824561

In [81]:
def beauty(data):

    lexicon=[]
    c=0
    for i in data["essay"]:
        all_words=word_tokenize(i)
        all_words=[i for i in all_words if i not in stop]
        all_words=[word.lower() for word in all_words if word.isalpha()]
        all_words=[lemm.lemmatize(j.lower()) for j in all_words]
        for i in all_words:
            if len(i)>7:
                c+=1
        lexicon.append(c)
        c=0
    return lexicon

In [82]:
data["beaut"]=beauty(data)
data_val["beaut"]=beauty(data_val)

In [83]:
data.head()

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,word_count,vocab_count,n_count,v_count,adj_count,adv_count,sent_len,freek,wrong_spell,beaut
0,1,1,"Dear local newspaper, I think effects computer...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,386,103,84,39,24,11,16,25,7.333333,29
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,464,129,117,61,21,15,20,36,8.920188,44
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4.0,3.0,NaN,7.0,NaN,NaN,NaN,...,313,92,85,33,21,6,14,34,3.100775,29
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5.0,5.0,NaN,10.0,NaN,NaN,NaN,...,611,169,205,63,46,14,27,40,12.500000,68
4,5,1,"Dear @LOCATION1, I know having computers has a...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,517,131,115,50,23,21,30,40,12.442396,49

In [84]:
from collections import Counter
from sklearn.feature_extraction.text import CountVectorizer
import math
import re

In [92]:
class Perplexity:
        def __init__(self):
            self.num_words = None
            self.counts = None
            self.vectorizer = None

        def create_counts(self, compressed_essays):
            self.vectorizer = CountVectorizer().fit(compressed_essays)
            self.counts = self.vectorizer.transform(compressed_essays).toarray()[0]

            # length added for LaPlace smoothing
            self.num_words = float(sum(self.counts) + len(self.counts))

        def fill_perplexity_columns(self,essay_strings,df):
            print ("Creating ngram counts...")
            ls=[]
            self.create_counts([essay_strings])

            for essay in df:
                perp = self.perplexity(essay)
                ls.append(perp)
            return ls

        # After having already fit model on a set of training essays, calculates the
        # perplexity of a student's essay based from the model, and returns this
        # perplexity to be used as a feature
        def perplexity(self, test_essay):
            log_prob = 0.0
            word_list = test_essay.split()
            for word in word_list:
                if word in self.vectorizer.vocabulary_:
                    log_prob += math.log( (self.counts[self.vectorizer.vocabulary_[word]] + 1.0) / self.num_words)
                else:
                    log_prob += math.log (1.0 / self.num_words)

            return math.pow(2.0, -log_prob / len(word_list))

In [93]:
def make_perp(data):
    essays_string=""
    perp=Perplexity()
    result=[]
    for i in range(1,9):
        df= ((data[data['essay_set'] == i]))["essay"]
        for j in df:
            essays_string += (" ".join(re.sub('[^a-zA-Z\d\s]', '', j).lower().split()))
        r=perp.fill_perplexity_columns(essays_string,df)
        result.append(r)
    flat = [x for sublist in result for x in sublist]
    return flat

In [94]:
data["perplexity"]=make_perp(data)
data_val["perplexity"]=make_perp(data_val)

Creating ngram counts...
Creating ngram counts...
Creating ngram counts...
Creating ngram counts...
Creating ngram counts...
Creating ngram counts...
Creating ngram counts...
Creating ngram counts...
Creating ngram counts...
Creating ngram counts...
Creating ngram counts...
Creating ngram counts...
Creating ngram counts...
Creating ngram counts...
Creating ngram counts...
Creating ngram counts...

In [97]:
data_val.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid,word_count,vocab_count,n_count,v_count,adj_count,adv_count,sent_len,freek,wrong_spell,beaut,perplexity
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,NaN,275,77,67,29,21,15,13,26,8.771930,26,163.218737
1,1789,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,NaN,353,95,75,35,15,21,20,33,1.526718,25,154.934685
2,1790,1,"Dear Local newspaper, Have you been spending a...",1790,NaN,471,137,91,51,29,26,15,35,13.170732,38,112.750824
3,1791,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,NaN,410,103,103,49,21,17,24,31,4.733728,38,156.539091
4,1792,1,"Dear newspaper, I strongly believe that comput...",1792,NaN,496,132,122,39,38,22,34,47,4.824561,54,141.841194

In [98]:
data.head()

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,vocab_count,n_count,v_count,adj_count,adv_count,sent_len,freek,wrong_spell,beaut,perplexity
0,1,1,"Dear local newspaper, I think effects computer...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,103,84,39,24,11,16,25,7.333333,29,188.689232
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,129,117,61,21,15,20,36,8.920188,44,199.735366
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4.0,3.0,NaN,7.0,NaN,NaN,NaN,...,92,85,33,21,6,14,34,3.100775,29,168.040531
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5.0,5.0,NaN,10.0,NaN,NaN,NaN,...,169,205,63,46,14,27,40,12.500000,68,247.198548
4,5,1,"Dear @LOCATION1, I know having computers has a...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,131,115,50,23,21,30,40,12.442396,49,168.929019

In [105]:
data_val.to_pickle(r"C:\Users\PIYUSH\Desktop\validation_notscaled.pkl")

In [106]:
data.to_pickle(r"C:\Users\PIYUSH\Downloads\essay (1).pkl")

In [ ]:
data = pd.read_pickle(r"C:\Users\PIYUSH\Desktop\auto1.pkl")