In [1]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from collections import Counter
from nltk.corpus import stopwords
stop_words=set(stopwords.words('english'))
lemm = WordNetLemmatizer()
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [13]:
data_val = pd.read_pickle(r"C:\Users\PIYUSH\Desktop\validation_notscaled.pkl")

In [38]:
data = pd.read_pickle(r"C:\Users\PIYUSH\Downloads\essay (1).pkl")

In [40]:
data_val.shape

(4218, 16)

In [17]:
data.shape

(12978, 39)

In [18]:
X=data_val.iloc[:,[5,6,7,8,9,10,11,12,13,14,15]]
X.head()

,word_count,vocab_count,n_count,v_count,adj_count,adv_count,sent_len,freek,wrong_spell,beaut,perplexity
0,275,77,67,29,21,15,13,26,8.771930,26,163.218737
1,353,95,75,35,15,21,20,33,1.526718,25,154.934685
2,471,137,91,51,29,26,15,35,13.170732,38,112.750824
3,410,103,103,49,21,17,24,31,4.733728,38,156.539091
4,496,132,122,39,38,22,34,47,4.824561,54,141.841194

In [19]:
sc=MinMaxScaler()
result=[]
def scaling_features(i,feat,result):
    d=((data_val[data_val['essay_set'] == i])[feat])
    x=np.array(d)
    x=np.reshape(x,(x.shape[0],1))
    d=(sc.fit_transform(x))
    result.append(d)
    return result

In [22]:
col=['vocab_count',
       'word_count', 'n_count', 'v_count', 'adj_count', 'adv_count',
       'sent_len', 'freek', 'wrong_spell','beaut', 'perplexity']
for name in col:
    r=[]
    for i in range(1,9):
        r=scaling_features(i,name,r)
    flat = [x for sublist in r for x in sublist]
    result=[]
    for i in flat:
        result.append(i[0])
    data_val[name]=result

c:\users\piyush\appdata\local\programs\python\python36\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [27]:
max((data_val[data_val['essay_set'] == 4])["n_count"])

1.0

In [28]:
sc=MinMaxScaler()
result=[]
def scaling_features(i,feat,result):
    d=((data[data['essay_set'] == i])[feat])
    x=np.array(d)
    x=np.reshape(x,(x.shape[0],1))
    d=(sc.fit_transform(x))
    result.append(d)
    return result

In [29]:
col=['vocab_count',
       'word_count', 'n_count', 'v_count', 'adj_count', 'adv_count',
       'sent_len', 'freek', 'wrong_spell','beaut', 'perplexity']
for name in col:
    r=[]
    for i in range(1,9):
        r=scaling_features(i,name,r)
    flat = [x for sublist in r for x in sublist]
    result=[]
    for i in flat:
        result.append(i[0])
    data[name]=result

c:\users\piyush\appdata\local\programs\python\python36\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [36]:
data.head()

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,vocab_count,n_count,v_count,adj_count,adv_count,sent_len,freek,wrong_spell,beaut,perplexity
0,1,1,"Dear local newspaper, I think effects computer...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,0.382239,0.253870,0.38,0.285714,0.234043,0.223881,0.320513,0.102667,0.218750,0.126727
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,0.482625,0.356037,0.60,0.250000,0.319149,0.283582,0.461538,0.124883,0.335938,0.138315
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4.0,3.0,NaN,7.0,NaN,NaN,NaN,...,0.339768,0.256966,0.32,0.250000,0.127660,0.194030,0.435897,0.043411,0.218750,0.105066
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5.0,5.0,NaN,10.0,NaN,NaN,NaN,...,0.637066,0.628483,0.62,0.547619,0.297872,0.388060,0.512821,0.175000,0.523438,0.188104
4,5,1,"Dear @LOCATION1, I know having computers has a...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,0.490347,0.349845,0.49,0.273810,0.446809,0.432836,0.512821,0.174194,0.375000,0.105998

In [34]:
data_val.to_pickle(r"C:\Users\PIYUSH\Downloads\val_set_wise.pkl")

In [35]:
data.to_pickle((r"C:\Users\PIYUSH\Downloads\scaled_features.pkl"))